
// For the author bio widget

.profile 
{
  min-height: 355px;
  display: inline-block;
  margin-top: 20px;
}
.divider 
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis 
{
  border-top: 4px solid transparent;
}
.emphasis:hover 
{
  border-top: 4px solid #3A80C3;
}
.emphasis h2
{
  margin-bottom:0;
}
span.tags 
{
  background: #3A80C3;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}


// Multi-column

.newspaper-4-2 {
  margin-bottom: 20px;
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 4px outset #F3F3F3; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px outset #F3F3F3; /* Firefox */
  column-rule: 4px outset #F3F3F3;
}
@media screen and (min-width:200px) and (max-width:600px) {
  .newspaper-4-2 {
    margin-bottom: 20px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
    -webkit-column-rule: 4px outset #F3F3F3; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #F3F3F3; /* Firefox */
    column-rule: 4px outset #F3F3F3;
  }
}
.newspaper-2-1 {
  margin-bottom: 20px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 4px outset #F3F3F3; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px outset #F3F3F3; /* Firefox */
  column-rule: 4px outset #F3F3F3;
}
@media screen and (min-width:200px) and (max-width:600px) {
  .newspaper-2-1 {
    margin-bottom: 20px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
    -webkit-column-rule: 4px outset #F3F3F3; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #F3F3F3; /* Firefox */
    column-rule: 4px outset #F3F3F3;
  }
}


// Typography

.content>p:nth-child(2) {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


// Layout

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto
}

.edge-to-edge {
  padding-top: 0;
  padding-bottom: 0;
}
.edge-to-edge .row {
  margin-left: 0;
  margin-right: 0;
}
.edge-to-edge div[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.edge-to-edge div[class*='col-'] img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto
}
.container > .edge-to-edge {
  margin-left: -15px;
  margin-right: -15px;
}
