<!-- ================== Secondary Nav menu ====================== -->


<style>
    body {
      padding-top: 50px;
    }
    #github-badge {opacity: 0.5;}
    #github-badge:hover {opacity: 1;}
</style>





<nav class="visible-xs navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mobile-2-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-mobile-2-collapse collapse">
                <ul class="nav navbar-nav" style="font-size:17px;">
                    <li style="padding:5px 5px 0 5px;"><a href="sms:j.holtslander@gmail.com" class="btn btn-primary"><i class="fa fa-comment"></i> SMS Text</a></li>
                    <li style="padding:5px 5px 0 5px;"><a href="instagram://user?username=j_holtslander" class="btn btn-primary"><i class="fa fa-instagram"></i> Instagram App Link</a></li>
                    <li class="divider" style="margin:10px 0 5px 0;"></li>
                    <li style="padding:5px 5px 0 5px;"><a href="pinterest://user/j_holtslander/" class="btn btn-primary"><i class="fa fa-pinterest"></i> Pinterest App Link</a></li>
                    <li style="padding:5px 5px 0 5px;"><a href="linkedin://#profile/6031945" class="btn btn-primary"><i class="fa fa-linkedin"></i> Linkedin App Link</a></li>
                    <li style="padding:5px 5px 0 5px;"><a href="fb://profile/570792107" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook App Link</a></li>
                    <li class="divider-vertical"></li>


                </ul>
            </div>
        </div>
    </nav>


