<!-- ================== Dock Nav menu ====================== -->


<style>
    body {
      padding-top: 50px;
    }

</style>





<nav id="ios-bar" class="visible-xs navbar navbar-inverse navbar-fixed-bottom">
    <div class="btn-group btn-group-justified">
    <a class="btn btn-lg btn-inverse navbar-btn " role="button">
        <h4><i class="fa fa-fw fa-lg fa-twitter"></i></h4>
        <p>Left</p>
    </a>
    <a class="btn btn-lg btn-inverse navbar-btn " role="button">
        <h4><i class="fa fa-fw fa-lg fa-facebook"></i></h4>
        <p>Middle</p>
    </a>
    <a class="btn btn-lg btn-inverse navbar-btn " role="button">
        <h4><i class="fa fa-fw fa-lg fa-instagram"></i></h4>
        <p>Middle</p>
    </a>
    <a class="btn btn-lg btn-inverse navbar-btn " role="button">
        <h4><i class="fa fa-fw fa-lg fa-cog"></i></h4>
        <p>Right</p>
    </a>
    </div>
</nav>


