---
layout: page
title: "Blog"
description: ""
group: navigation
---
{% include JB/setup %}

<ol class="breadcrumb">
  <li><a href="{{ HOME_PATH }}"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">{{ page.title }}</li>
</ol>


<p class="lead">
  This is a custom blog page. It has functonal Bootstrap breadcrumbs.
</p>

<h3>Posts</h3>

<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>  {{ post.excerpt }}</li>
  {% endfor %}
</ul>